{"swagger":"2.0","info":{"description":"This  web API implements dynamic quality control for the ISCWSA OWSG Rev-2 error model tool codes. Users can upload MWD surveys and receive the relevant QC information for the selected tool code. Apart from the sigma-distance indicating pass or failure of the survey, the API also returns the random and systematic uncertainties in the measured inclination and azimuth taking the location and wellbore orientation into account. The API enables single queries via a web interface, as well as programmatic access by user software. Please also see https://fac.magvar.com for a user friendly front end calculator.","title":"MagVAR Survey Validation API","contact":{"name":"Magnetic Variation Services LLC","url":"https://www.magvar.com","email":"support@magvar.com"},"license":{"name":"End User License Agreement (EULA)","url":"https://www.magvar.com/EULA_SurveyValidationAPI.html"}},"host":"fac-api.magvar.com","basePath":"/","tags":[{"name":"survey-validation-controller","description":"Survey Validation and QC"}],"paths":{"/uncertaintyValues":{"get":{"tags":["survey-validation-controller"],"summary":"Obtain survey validation info","operationId":"uncertaintyValuesUsingGET","produces":["*/*"],"parameters":[{"name":"antiCollisionSigma","in":"query","description":"Sigma used for Anti-collision","required":true,"type":"number","default":2.0,"format":"double","allowEmptyValue":false},{"name":"bTotalUnits","in":"query","description":"Btotal Units","required":true,"type":"string","default":"NANOTESLA","allowEmptyValue":false,"enum":["NANOTESLA","MICROTESLA","MILLITESLA","TESLA","GAUSS","GAMMA"]},{"name":"depthBelowMSL","in":"query","description":"Depth below MSL (negative values for above MSL).\u003cbr/\u003eRange: -20000 to 60000","required":true,"type":"number","default":-200.0,"format":"double","allowEmptyValue":false},{"name":"depthUnits","in":"query","description":"Depth Units","required":true,"type":"string","default":"METER","allowEmptyValue":false,"enum":["METER","KILOMETER","FOOT","FOOT_US","YARD","MILE","SE_FT"]},{"name":"gTotalUnits","in":"query","description":"Gravity Units","required":true,"type":"string","default":"M_PER_SEC_SQ","allowEmptyValue":false,"enum":["M_PER_SEC_SQ","FT_PER_SEC_SQ","G","MILLI_G","G_98","GAL","MILLI_GAL"]},{"name":"gravityModel","in":"query","description":"Reference Gravity Model","required":true,"type":"string","default":"GARM_TOTALG","allowEmptyValue":false,"enum":["OLD_STYLE","STANDARD_TOTALG","GARM_TOTALG"]},{"name":"latitude","in":"query","description":"WGS84 Latitude\u003cbr/\u003eRange: -90 to 90","required":true,"type":"number","default":29.4217,"format":"double","allowEmptyValue":false},{"name":"longitude","in":"query","description":"WGS84 Longitude\u003cbr/\u003eRange: -180 to 360","required":true,"type":"number","default":-98.4838,"format":"double","allowEmptyValue":false},{"name":"measuredBTotal","in":"query","description":"Measured Btotal\u003cbr/\u003eRange: 0 to 80000","required":true,"type":"number","default":46475.6,"format":"double","allowEmptyValue":false},{"name":"measuredDip","in":"query","description":"Measured Dip\u003cbr/\u003eRange: -90 to 90","required":true,"type":"number","default":57.96,"format":"double","allowEmptyValue":false},{"name":"measuredGTotal","in":"query","description":"Measured Gtotal\u003cbr/\u003eRange: 0 to 2000000","required":true,"type":"number","default":9.803,"format":"double","allowEmptyValue":false},{"name":"referenceBTotal","in":"query","description":"Reference Btotal\u003cbr/\u003eRange: 0 to 80000","required":true,"type":"number","default":46644.9,"format":"double","allowEmptyValue":false},{"name":"referenceDeclination","in":"query","description":"Reference Declination\u003cbr/\u003eRange: -180 to 360","required":true,"type":"number","default":4.24,"format":"double","allowEmptyValue":false},{"name":"referenceDip","in":"query","description":"Reference Dip\u003cbr/\u003eRange: -90 to 90","required":true,"type":"number","default":58.04,"format":"double","allowEmptyValue":false},{"name":"referenceGTotal","in":"query","description":"Reference Gtotal\u003cbr/\u003eRange: 0 to 2000000","required":true,"type":"number","default":9.8,"format":"double","allowEmptyValue":false},{"name":"surveyDate","in":"query","description":"Survey date","required":true,"type":"string","default":"2017-10-12T11:00:00.000-0600","format":"date-time","allowEmptyValue":false},{"name":"toolCode","in":"query","description":"Tool code chosen from the ISCWSA Rev2 standard and extended sets","required":true,"type":"string","default":"MWD","allowEmptyValue":false,"enum":["MWD","MWD_AX","MWD_AX_SAG","MWD_HRGM","MWD_HRGM_AX","MWD_HRGM_AX_SAG","MWD_HRGM_SAG","MWD_HRGM_SAG_MS","MWD_IFR1","MWD_IFR1_AX","MWD_IFR1_AX_SAG","MWD_IFR1_MS","MWD_IFR1_SAG","MWD_IFR1_SAG_MS","MWD_IFR2_AX_SAG","MWD_IFR2_SAG","MWD_IFR2_SAG_MS","MWD_IGRF","MWD_IGRF_AX","MWD_IGRF_AX_SAG","MWD_IGRF_SAG","MWD_SAG"]},{"name":"wellboreAzimuth","in":"query","description":"Wellbore True Azimuth\u003cbr/\u003eRange: -180 to 360","required":true,"type":"number","default":45.0,"format":"double","allowEmptyValue":false},{"name":"wellboreInclination","in":"query","description":"Wellbore Inclination\u003cbr/\u003eRange: 0 to 180","required":true,"type":"number","default":45.0,"format":"double","allowEmptyValue":false}],"responses":{"200":{"description":"Successfully retrieved survey validation info","schema":{"$ref":"#/definitions/SurveyValidation"}},"400":{"description":"Unexpected or invalid data in request","schema":{"$ref":"#/definitions/ValidationErrors"}},"500":{"description":"Internal server error"}},"deprecated":false}}},"definitions":{"Sigma results":{"type":"object","required":["distance","withinTolerance"],"properties":{"distance":{"type":"number","format":"double","description":"Calculated sigmaValidation distance"},"withinTolerance":{"type":"boolean","description":"Whether or not the calculated sigmaValidation is within anti-collision sigmaValidation"}},"title":"Sigma results"},"SurveyValidation":{"type":"object","required":["azimuthUncertainty","dip","gravitationalFieldStrength","inclinationUncertainty","magneticFieldStrength","sigmaValidation"],"properties":{"azimuthUncertainty":{"description":"Azimuth uncertainty","$ref":"#/definitions/Uncertainty results"},"dip":{"description":"Dip validation result","$ref":"#/definitions/Validation results"},"gravitationalFieldStrength":{"description":"Gtotal validation result","$ref":"#/definitions/Validation results"},"inclinationUncertainty":{"description":"Inclination uncertainty","$ref":"#/definitions/Uncertainty results"},"magneticFieldStrength":{"description":"Btotal validation result","$ref":"#/definitions/Validation results"},"sigmaValidation":{"description":"Sigma validation result","$ref":"#/definitions/Sigma results"}},"title":"SurveyValidation","description":"Survey Validation Info"},"Uncertainty results":{"type":"object","required":["random","systematic"],"properties":{"random":{"type":"number","format":"double","description":"Random uncertainty"},"systematic":{"type":"number","format":"double","description":"Systematic uncertainty"}},"title":"Uncertainty results"},"Validation results":{"type":"object","required":["greenThreshold","orangeThreshold","validationResult"],"properties":{"greenThreshold":{"type":"number","format":"double","description":"Green threshold"},"orangeThreshold":{"type":"number","format":"double","description":"Orange threshold"},"validationResult":{"type":"string","description":"Validation result","enum":["Green","Orange","Red"]}},"title":"Validation results"},"ValidationError":{"type":"object","properties":{"field":{"type":"string","example":"latitude"},"message":{"type":"string","example":"Must be between -90 and 90 degrees"},"value":{"type":"object","example":99999}},"title":"ValidationError"},"ValidationErrors":{"type":"object","properties":{"validationErrors":{"type":"array","items":{"$ref":"#/definitions/ValidationError"}}},"title":"ValidationErrors"}}}